# compilation
.*_time
build/
bin/
Makevid

# glsl images
glsl/glsl-img

# subtitles
*.srt
*.ass

# audio or video
*.mp3
*.mp4
*.webm
*.ogg
*.m4a
*.flac

# generated phrases
*.ph



# C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
